@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/c3/c3.css';
//@import "cover";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
}

.c3-region.regionNight {
  fill: grey;
}
.c3-region.regionDay {
  fill: yellow;
}
