<div class="row">
  <div class="col-12">
    <div class="header-panel text-center">
      <h2>Aktualna temperatura powietrza</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="header-panel text-center">
      <h3>Wewnątrz pomieszczenia</h3>
    </div>
  </div>
  <div class="col-6">
    <div class="header-panel text-center">
      <h3>Na zewnątrz pomieszczenia</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div id="currentInsideTempChart"></div>
  </div>
  <div class="col-6">
    <div id="currentOutsideTempChart"></div>
  </div>
</div>
