<div class="container-fluid">
  <div class="row justify-content-center date-time-container">
    <div class="col-lg-12 text-center">
      <div class="h3">{{currentHour | date: 'HH : mm : ss'}} &nbsp;&nbsp; {{currentDate}}</div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-2 align-self-center tile miner">
      <div class="row justify-content-center">
        <div class="col-12 tile-info text-center">
          Statystyki dla koparki KRIG
        </div>
      </div>
      <div class="row justify-content-center align-items-center no-gutters minig-stats" *ngFor="let d of rigData">
            <div class="col-2">{{ d.name.slice(0, 4) }}</div>
            <div class="col-3"><i class="fa fa-ge fa-spin fa-fw"></i> {{ d.fan }}</div>
            <div class="col-3"><i class="fa fa-thermometer fa-fw"></i> {{ d.temp }} &deg;C</div>
            <div class="col-4"><i class="fa fa-bolt fa-fw"></i> {{ d.power }} W</div>
      </div>
      <hr>
      <div class="row justify-content-center align-items-center no-gutters minig-stats total-power">
        <div class="col-8">Całkowite zużycie energii</div>
        <div class="col-4">
          <i class="fa fa-bolt fa-fw"></i> {{rigPower}} W
        </div>
      </div>
    </div>

    <div class="col-lg-2 align-self-center tile inside">
      <div class="row justify-content-center">
        <div class="col-12 tile-info text-center">
          TEMPERATURA W BUDYNKU
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-4">
          <i class="fa fa-4x fa-thermometer-full"></i>
        </div>
        <div class="col-8 text-center">
          <div class="value">{{insideTemp}} &deg;C</div>
        </div>
      </div>
    </div>

    <div class="col-lg-2 align-self-center tile outside">
      <div class="row justify-content-center">
        <div class="col-12 tile-info text-center">
          TEMPERATURA NA ZEWNĄTRZ
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-4">
          <i class="fa fa-4x fa-thermometer-2"></i>
        </div>
        <div class="col-8 text-center">
          <div class="value">{{outsideTemp}} &deg;C</div>
        </div>
      </div>
    </div>

    <div class="col-lg-2 align-self-center tile pressure">
      <div class="row justify-content-center">
        <div class="col-12 tile-info text-center">
          CIŚNIENIE ATMOSFERYCZNE
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-4">
          <i class="fa fa-4x fa-sort-amount-desc"></i>
        </div>
        <div class="col-8 text-center">
          <div class="value">{{pressure}} hPa</div>
        </div>
      </div>
    </div>

    <div class="col-lg-2 align-self-center tile humidity">
      <div class="row justify-content-center">
        <div class="col-12 tile-info text-center">
          WILGOTNOŚĆ
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-4">
          <i class="fa fa-4x fa-tint"></i>
        </div>
        <div class="col-8 text-center value">
          {{humidity}} %
        </div>
      </div>
    </div>

    <div class="col-lg-2 align-self-center tile" [ngClass]="{'sun': light > 400, 'moon': light <= 400}">
      <div class="row justify-content-center">
        <div class="col-12 tile-info text-center">
          INDEX UV
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-4">
          <i class="fa fa-4x" [ngClass]="{'fa-sun-o': light > 400, 'fa-moon-o': light <= 400}"></i>
        </div>
        <div class="col-8 text-center value">
          {{light}}
        </div>
      </div>
    </div>
  </div>

  <div class="row d-lg-flex d-none justify-content-center">
    <div class="col-lg-6 tile sun">
      <div class="row justify-content-center">
        <div class="col-12 tile-info text-center">
          WSCHÓD I ZACHÓD SŁOŃCA
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-6 text-center value-md">
          <i class="fa fa-sun-o"></i> {{sunriseSunset.sunrise}}
        </div>
        <div class="col-6 text-center value-md">
          <i class="fa fa-moon-o"></i> {{sunriseSunset.sunset}}
        </div>
      </div>
    </div>
  </div>
  <div class="row d-lg-none justify-content-center no-gutters">
    <div class="col-md-12 col-sm-12 tile sun">
      <div class="row justify-content-center">
        <div class="col-12 tile-info text-center">
          WSCHÓD I ZACHÓD SŁOŃCA
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-12 text-center value-md">
          <i class="fa fa-sun-o"></i> {{sunriseSunset.sunrise}}
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-12 text-center value-md">
          <i class="fa fa-moon-o"></i> {{sunriseSunset.sunset}}
        </div>
      </div>
    </div>
  </div>
</div>
